.ipynb_checkpoints/
__pycache__/
*.pyc
.venv
.venv/
.matplotlib/
.DS_Store
__MACOSX/
.jupyter/
.jupyter_data/
.jupyter_runtime/
.ipython/
build/
build_*/
*.zip
presentacion_latex/libreto_presentacion.pdf
presentacion_latex/libreto_presentacion.tex
